.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
  height: 220px;
}

.profile-image {
  margin-bottom: 6px;
}

.profile-name {
  color: #6366f1;
  font-size: 20px;
  margin-bottom: 20px;
}

.profile-bio {
  color: #2c364c;
  font-size: 15px;
  margin-bottom: 20px;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
}

.profile-failure-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
}

.retry-btn {
  color: #f8fafc;
  background: #4f46e5;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  padding: 16px;
  cursor: pointer;
}
