.jobs-container {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  min-height: 90vh;
  padding: 30px;
  background: #000000;
}

.extra-filters-container {
  width: 28%;
  margin-right: 30px;
}

.break-line {
  border: 1px solid #cbd5e1;
  width: 100%;
}

.job-list-container {
  width: 68%;
}

.search-container {
  width: 60%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #272727;
}

.desktop-search {
  display: block;
}

.mobile-search {
  display: none;
}

.search-input {
  color: #475569;
  font-size: 18px;
  padding: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 90%;
  background-color: #000000;
}

@media screen and (max-width: 767px) {
  .jobs-container {
    flex-direction: column;
  }

  .extra-filters-container {
    width: 100%;
  }
  .job-list-container {
    width: 100%;
  }
  .mobile-search {
    display: block;
  }
  .desktop-search {
    display: none;
  }
  .search-container {
    width: 100%;
  }
  .search-input {
    width: 87%;
  }
}

.searchButton {
  border: none;
  background: transparent;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
}

.search-icon {
  color: #ffffff;
  background-color: transparent;
}

.jobs-list-con {
  width: 100%;
  list-style: none;
  margin: 0;
}

.no-jobs-found-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.no-jobs-img {
  width: 70%;
  margin-bottom: 14px;
}

.no-jobs-heading {
  color: #ffffff;
  font-size: 34px;
  margin-bottom: 10px;
}

.no-jobs-description {
  font-size: 16px;
  color: #475569;
}

.retry-btn {
  color: #f8fafc;
  background: #4f46e5;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  padding: 16px;
  cursor: pointer;
}

.loader-container {
  width: 70%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container {
  width: 100%;
  margin-bottom: 20px;
}

.filters-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.filter-heading {
  font-size: 25px;
  margin-bottom: 18px;
  color: #f8fafc;
}

.filter-item {
  list-style-type: none;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filter-label {
  font-size: 18px;
  margin-left: 4px;
  color: #f8fafc;
  cursor: pointer;
}

.jobs-failure-con {
  display: flex;
  flex-direction: column;
}
